<link rel="stylesheet" href="https://file.garden/aTNlS0deYkPxCXcx/css/stripe_gallery.css">
<link rel="stylesheet" href="https://file.garden/aTNlS0deYkPxCXcx/css/utility.css">


<style>
.stripeGallery {
--gallerySize: {{size}}px;
}
</style>


<div class="stripeGallery fullDescW">
{{#each images}}
<img style="object-position: {{offset}}%" src="{{src}}"> 
{{/each}}
</div>
