#template-list-container {
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
}

#template-list-container > .card {
  max-width: min(50%, 32em);
  color: white;
  margin: 0;
}

article p {
  white-space: pre-wrap;
}

#result-preview-container {
  background-color: #2a2a2a;
  width:100%;
  max-width:1200px;
  margin:0 auto;
  padding:0 1rem;
}

.list-controls {
  display: inline;
}
