#template-control {
  display:flex;
  padding: 2rem 0;
}
@media (max-width: 768px) {
  #template-control {
    flex-direction: column;
    gap:2rem;
    padding: 2rem var(--space-base);
  }
}

#template-list-container {
  flex: 1 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  gap: 1% 0;
}

#template-list-container > .card {
  max-width: 49%;
  margin: 0;
  color: white;
}

article p {
  white-space: pre-wrap;
}

#editor-form {flex: 1}
#editor-container {margin:0}
#editor-container > li{margin-bottom:2rem}
#editor-container > li::marker {content:''}



.list-controls {
  display: inline;
}



#result-preview-container {
  background-color: #2a2a2a;
  width:100%;
  max-width:1200px;
  margin:0 auto;
  padding:0 1rem;
}
