:root, :host {
  white-space: pre-wrap;
}

#template-control {
  padding: 2rem 0;
}

#template-list-container {
  flex: 1 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 5px;
  overflow: scroll;
}

#template-list-container > .card {
  max-width: 400px;
  min-width: 300px;
  flex-grow: 1;
  margin: 0;
  color: white;
}

article p {
  white-space: pre-wrap;
}

#editor-form {flex: 1}
#editor-container {margin:0}
#editor-container > li{margin-bottom:2rem}
#editor-container > li::marker {content:''}



.list-controls {
  display: inline;
}



#result-preview-container {
  background-color: #2a2a2a;
  width:100%;
  max-width:1200px;
  margin:0 auto;
  padding:0 1rem;
}

