@media only screen and (hover: none) and (pointer: coarse) {

  .dragContainer {
    position: inherit !important;
  }

  .dragContainer .dragHandle {
    height: 11px !important;
    width: 11px !important;
  }

}

.dragContainer {
--button-1-color: lime;
--button-2-color: orange;
--close-button-color: red;
--position-x: 20vw;
--position-y: 30vh;
--title-bg-color: black;
--title-color: white;
--drag-indicator-style: 2px dotted white;
--initial-width: 500px;
--initial-height: 300px;
}

.dragContainer,
.dragContainer td,
.dragContainer tr {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  pointer-events: none;
}

@keyframes allowDrag {
  from {
    pointer-events: auto;
  }
  to {
    pointer-events: none;
  }
}

.dragContainer .dragHandle {
  resize: both;
  overflow: hidden;
  pointer-events: none;
  animation: allowDrag 3s steps(2, end) forwards;
  width: var(--position-x);
  height: var(--position-y);
}

.dragContainer:has(.dragWindow:hover) .dragHandle {
  animation: none;
}

.dragContainer {
  pointer-events: none;
  animation: closeWindow 0.001s forwards;
  animation-play-state: paused;
}

.dragWindow {
  position: relative;
  left: -11px;
  top: -11px;
  pointer-events: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  min-width: 250px;
  filter: drop-shadow(4px 4px 5px black);
  margin-right: 10px;
  margin-bottom: 10px;
}

.dragContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: fit-content;
}

@keyframes resetDrag {
  0% {
    pointer-events: auto;
  }
  2% {
    pointer-events: none;
  }
  100% {
    pointer-events: none;
  }
}

.dragWindow > .titlebar {
  animation: resetDrag 1.5s steps(50, end) infinite;
  animation-direction: reverse;
  height: 2em;
  display: flex;
  margin: 0;
  background-color: var(--title-bg-color);
  padding: 0;
}

.dragWindow > .titlebar .icon {
  aspect-ratio: 1;
  margin: 0;
  height: 2em;
  width: 2em;
}

.dragWindow > div {
  pointer-events: auto;
  overflow: scroll;
  resize: both;
  border-radius: 0;
  min-width: 250px;
  width: var(--initial-width);
  height: var(--initial-height);
  margin: 0;
}

.dragWindow > .titlebar > span {
  pointer-events: auto;
  flex-grow: 1;
  color: var(--title-color);
  align-self: center;
  width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}

.windowButtons {
  display: flex;
  gap: 5px;
  margin-left: 10px;
  margin-right: 10px;
  pointer-events: auto;
}

.windowButtons > a,
.windowButtons > a:visited {
  align-content: center;
  border-bottom: none;
}

.windowButtons div {
  height: 40%;
  aspect-ratio: 1;
  border-radius: 50%;
  align-self: center;
  font-size: 12px;
}

.windowButtons div:nth-child(1) {
  background: var(--button-1-color);
}

.windowButtons div:nth-child(2) {
  background: var(--button-2-color);
}

.closeButton {
  background: var(--close-button-color);
}

@keyframes closeWindow {
  from {
    visibility: shown;
  }
  to {
    visibility: hidden;
  }
}

.dragContainer:has(.closeButton:active) {
  animation-play-state: running;
}

.dragIndicator {
  border: var(--drag-indicator-style);
  top: 0;
  left: 0;
  width: 11px;
  height: 11px;
  position: absolute;
  pointer-events: none;
  border-left: none;
  border-top: none;
}

.dragFixB {
  top: 11px;
  left: 0;
  width: 22px;
  height: 11px;
  position: absolute;
  pointer-events: auto;
}

.dragFixR {
  top: 0;
  left: 11px;
  width: 22px;
  height: 11px;
  position: absolute;
  pointer-events: auto;
}

.windowReopen:active + table {
  animation: none
}

@keyframes hoistWindow {
  from {
    z-index: unset;
  }
  to {
    z-index: 1000;
  }
}

.dragContainer > tbody {
  position: relative;
  animation: hoistWindow 0.001s forwards;
  animation-play-state: paused;
}

.dragContainer:active > tbody {
  animation-play-state: running;
}

div:has(.dragWindow:active) .dragContainer:not(:hover) > tbody {
  animation: none;
}
