<link rel="stylesheet" href="https://file.garden/aTNlS0deYkPxCXcx/css/background.css">

<style>
  .background {
    --background-image: url({{src}});
    --background-fallback: {{color}};
  }
</style>
<div class="background"></div>
