<div style="width: 30em; margin: 16px auto; border: 1px solid #FAF6B6; border-radius: 7px; -moz-border-radius: 7px"><div style="border: 5px solid {{fg}}; border-radius: 6px; -moz-border-radius: 6px"><div style="border: 3px solid #4C4265; color: #FAF6B6; background-color: {{bg}}; padding: 3px">

{{{content}}}
</div></div></div>
