<style>
.character-card img{
  width:100px;height:100px;
  margin:0;
  object-fit: cover;
}
</style>

<table class="character-card"><tr>
<td><img src="{{icon}}"></td>
<td>
  {{name}}
  <hr>
  {{bio}}
</td>
</tr></table>
